<div class="firstContainer">
    <img class="img1" src="img/UWGH_Logo_Color.png" alt="">
    <img class="img2" src="img/whiteGolfer3.png" alt=""/>
</div>
<div class="secondContainer">
    <div class="row">
        <div class="responsive-text">
            <h2>General Information</h2>
            Date: October 11, 2016
            <br/>Location: Woodforest Golf Course
            <br/>1199 Fish Creek Thoroughfare 
            <br/>Montgomery, Texas 77316
            <br/>
            <br/>Registration/Lunch: 11:30 AM - 1:00 PM
            <br/>Shotgun start 1:00 PM
            <br/>Buffet and awards: 6:00 PM
        </div>
        <br/>
        <br/>
    </div>
    <div class="row">
        <a class="btn-primary brown" href="#/register">Register</a>
        <a class="btn-primary brown" href="http://eventx/abba43d7-b94b-4871-89ec-d8e5ce032be9">Add to Outlook</a>
        
    </div>
</div>