<div class="container">
    <div class="teamContainer">
        <div class="row">
            <h1>Meet the development team</h1>
        </div>
        <div class="row">
            <table>
                <h3>Adriana Contreras</h3>
                <tr>
                    <td><img src="img/adriana1.jpg"/></td>
                    <td>
                        Adriana may seem like your average ExxonMobil employee. In the kitchen she eats. In the hub she talks to her coworkers. In the quad, she (safely) plays PokemonGo. But at her desk, she can be found quietly but swiftly swatting bugs in engineering apps. She uses C# and WPF to create new software that eradicates excel macros. And she effortlessly practices user-centered design to develop desktop applications and websites.
                    </td>
                </tr>
            </table>
            <table>
                <h3>Louis V. Iaeger</h3>
                <tr>
                    <td><img src="img/louis.jpg"/></td>
                    <td>
                </tr>
                <td><h3>Alejandro Menocal</h3></td>
                <th></th>            
                <tr>
                    <td><img src="img/alejandro.jpg"/></td>
                </tr>
            </table>
        </div>
    </div>
</div>